html, body {
  background-color: #bbbfca;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

nav {
  text-align: center;
}

nav a {
  color: #495464;
  padding: 1rem;
  text-decoration: none;
  width: 150px;
}

.content-container {
  background-color: #f4f4f2;
  border-radius: 25px;
  padding: 5rem;
  margin: 2rem;
}

.dashboard-container {
  background-color: #e8e8e8;
  border-radius: 25px;
  padding: 5rem;
  margin: 2rem;
}
